/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

/*
Dark theme to be easy on the eyes
Accent?
*/

:root {
    --ion-color-primary: #133AE7;
    --ion-color-primary-rgb: 19,58,231;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #1133cb;
    --ion-color-primary-tint: #2b4ee9;

    --ion-color-secondary: #4262f0;
    --ion-color-secondary-rgb: 66,98,240;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #3a56d3;
    --ion-color-secondary-tint: #5572f2;

    --ion-color-tertiary: #1134d0;
    --ion-color-tertiary-rgb: 17,52,208;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #0f2eb7;
    --ion-color-tertiary-tint: #2948d5;

    --ion-color-light: #EFF6FB;
    --ion-color-light-rgb: 239,246,251;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #d2d8dd;
    --ion-color-light-tint: #f1f7fb;

    --ion-color-medium: #80848a;
    --ion-color-medium-rgb: 128,132,138;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #717479;
    --ion-color-medium-tint: #8d9096;

    --ion-color-dark: #101119;
    --ion-color-dark-rgb: 16,17,25;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #0e0f16;
    --ion-color-dark-tint: #282930;

    --ion-background-color: #101119;
    --ion-background-color-rgb: 16,17,25;

    --ion-text-color: #EFF6FB;
    --ion-text-color-rgb: 239,246,251;

    --ion-text-color-step-50: #e4ebf0;
    --ion-text-color-step-100: #d9dfe4;
    --ion-text-color-step-150: #ced4d9;
    --ion-text-color-step-200: #c2c8ce;
    --ion-text-color-step-250: #b7bdc3;
    --ion-text-color-step-300: #acb1b7;
    --ion-text-color-step-350: #a1a6ac;
    --ion-text-color-step-400: #969aa1;
    --ion-text-color-step-450: #8b8f95;
    --ion-text-color-step-500: #80848a;
    --ion-text-color-step-550: #74787f;
    --ion-text-color-step-600: #696d73;
    --ion-text-color-step-650: #5e6168;
    --ion-text-color-step-700: #53565d;
    --ion-text-color-step-750: #484a52;
    --ion-text-color-step-800: #3d3f46;
    --ion-text-color-step-850: #31333b;
    --ion-text-color-step-900: #262830;
    --ion-text-color-step-950: #1b1c24;

    --ion-background-color-step-50: #1b1c24;
    --ion-background-color-step-100: #262830;
    --ion-background-color-step-150: #31333b;
    --ion-background-color-step-200: #3d3f46;
    --ion-background-color-step-250: #484a52;
    --ion-background-color-step-300: #53565d;
    --ion-background-color-step-350: #5e6168;
    --ion-background-color-step-400: #696d73;
    --ion-background-color-step-450: #74787f;
    --ion-background-color-step-500: #80848a;
    --ion-background-color-step-550: #8b8f95;
    --ion-background-color-step-600: #969aa1;
    --ion-background-color-step-650: #a1a6ac;
    --ion-background-color-step-700: #acb1b7;
    --ion-background-color-step-750: #b7bdc3;
    --ion-background-color-step-800: #c2c8ce;
    --ion-background-color-step-850: #ced4d9;
    --ion-background-color-step-900: #d9dfe4;
    --ion-background-color-step-950: #e4ebf0;

    --ion-item-background: var(--ion-background-color-step-50);
    --ion-toolbar-background: var(--ion-background-color-step-50);
}

ion-button {
    text-transform: none;
}

ion-menu.focused, #main.focused {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    max-width: unset;
    ion-toolbar {
        display: none;
    }
}