<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<aside id="editor-sidebar" th:fragment="editor-sidebar">
    <script src="/scripts/editorsidebar.js"></script>
    <div id="chapter-display" class="sidebar-display">
        <div class="sidebar-title-container">
            <h6 class="sidebar-title">Chapters</h6>
            <i class="fa-solid fa-circle-plus tooltip-button" onclick="openNewChapterPopup()"></i>
            <form id="chapter-new-popup" style="display: none;" onsubmit="editorCreateChapter(); return false;">
                <input id="chapter-new-name-input" type="text" placeholder="New chapter name">
                <i id="chapter-new-name-confirm" class="fa-solid fa-circle-check" onclick="editorCreateChapter()"></i>
            </form>
        </div>
        <ul class="fa-ul" id="chapter-list">
            <li class="chapter-listing-li" th:each="chapter:${sidebar_chapters}" th:data-chapter="${chapter.getId()}" th:classappend="${current_chapter.getId() == chapter.getId() ? 'active' : ''}">
                <span class="fa-li"><i class="fa-solid fa-minus"></i></span>
                <a class="sidebar-listing chapter-listing noaccentcolor" th:text="${chapter.getTitle()}" th:href="${'/chapter/' + chapter.getId()}"></a>
                <i class="fa-solid fa-ellipsis-vertical menu-icon tooltip-button" onclick="openChapterMenu()"></i>
            </li>
        </ul>
    </div>
</aside>
</body>
</html>
