<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draftbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="/styles/pricing.css">
    <link rel="stylesheet" href="/styles/header.css">

    <script src="https://unpkg.com/swup@4"></script>
    <script src="https://unpkg.com/@swup/head-plugin@2"></script>
    <script src="https://unpkg.com/@swup/scripts-plugin@2"></script>
    <script data-swup-reload-script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
    <script src="/scripts/swuphooks.js"></script>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main id="swup" class="page-content transition-fade">
    <!-- Hero tagline idea: Got a story idea? let me help. -->
    <!-- Don't hide the fact that this is a solo dev project -->

    <div id="site-content">

    </div>
</main>



</body>
</html>