
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Draftbook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="/styles/workdisplay.css">
    <link rel="stylesheet" href="/styles/header.css">

    <script data-swup-reload-script src="/scripts/workdisplay.js"></script>

    <script src="https://unpkg.com/swup@4"></script>
    <script src="https://unpkg.com/@swup/head-plugin@2"></script>
    <script src="https://unpkg.com/@swup/scripts-plugin@2"></script>
    <script data-swup-reload-script src="https://kit.fontawesome.com/2b6129ab2e.js" crossorigin="anonymous"></script>
    <script src="/scripts/swuphooks.js"></script>
</head>
<body>

<header th:replace="~{fragments/header :: header}"></header>

<main id="swup" class="page-content transition-fade">
    <!-- Hero tagline idea: Got a story idea? let me help. -->
    <!-- Don't hide the fact that this is a solo dev project -->

    <div id="site-content">
        <!--
        What the user needs to be able to access easily:
        Settings and metadata edit
        Work-wide notes
        Chapter list (and access to those chapters).
            Ideally, chapter areas would also have access to the work-wide notes panel.
            Also these would need access to chapter-specific notes.
            Perhaps a separate page for the chapter interface
        -->
        <div id="nav">
            <!-- Settings, Chapters, Notes, Export -->
            <h6 class="nav-tile" data-section="metadata" th:classappend="${section.equals('metadata') ? 'active' : ''}" onclick="setNav(this)">Metadata</h6>
            <h6 class="nav-tile" data-section="chapters" th:classappend="${section.equals('chapters') ? 'active' : ''}" onclick="setNav(this)">Chapters</h6>
            <h6 class="nav-tile" data-section="notes" th:classappend="${section.equals('notes') ? 'active' : ''}" onclick="setNav(this)">Notes</h6>
            <h6 class="nav-tile leftmost" data-section="export" th:classappend="${section.equals('export') ? 'active' : ''}" onclick="setNav(this)">Export</h6>
        </div>
        <div class="contentarea" data-section="metadata" th:style="${section.equals('metadata') ? 'display: flex;' : 'display: none;'}">
            <!--
            What do we need here?
            Title
            Cover image
            Synopsis
            Word Count
            -->
            <p id="workid" th:text="${'Internal Resource ID: ' + work.getId()}" th:data-workid="${work.getId()}"></p>
        </div>
        <div class="contentarea" data-section="chapters" th:style="${section.equals('chapters') ? 'display: flex;' : 'display: none;'}">
            <div id="chapter-list-area" class="background">
                <div class="chapter-listing" th:each="chapter:${chapters}" th:data-chapter="${chapter.getId()}">
                    <div class="chapter-move-icons">
                        <i class="fa-solid fa-up-long"></i>
                        <i class="fa-solid fa-down-long"></i>
                    </div>
                    <form onsubmit="renameChapter(this); return false;">
                        <input class="chapter-name-input" th:value="${chapter.getTitle()}" readonly>
                    </form>
                    <div class="chapter-modification-icons">
                        <i class="fa-solid fa-i-cursor" onclick="renameChapter(this)"></i>
                        <i class="fa-solid fa-trash" onclick="deleteChapter(this)"></i>
                    </div>
                    <button onclick="openChapter(this)">Edit</button>
                </div>
            </div>
            <div id="chapter-create-area" class="background">
                <input id="chapter-create-title-input" placeholder="Chapter title">
                <input id="chapter-create-number-input" placeholder="Chapter Number" th:value="${chapters.size() + 1}">
                <button onclick="createChapter()">Create</button>
            </div>
        </div>
    </div>
</main>



</body>
</html>