@import 'constants';

#site-content {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  height: 100vh;
  width: 100%;
  padding-top: 15vh;
  #account-nav-sidebar {
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: start;
    justify-content: start;
    padding-left: 1em;
    padding-top: 1em;
    box-shadow: 1px 1px 1px 1px darken($primary, 15%);
    background: darken($primary, 5%);
    transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }
  #account-main-content {
    height: 100%;
    flex: 1;
    box-shadow: 1px 1px 1px 1px darken($primary, 15%);
    background: darken($primary, 5%);
    transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  }
}

html.darkmode {
  #site-content > #account-nav-sidebar {
    box-shadow: 1px 1px 1px 1px darken($secondary, 5%) !important;
    background: lighten($secondary, 5%) !important;
  }
  #site-content > #account-main-content {
    box-shadow: 1px 1px 1px 1px darken($secondary, 5%) !important;
    background: lighten($secondary, 5%) !important;
  }
}