@import url("https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

span, p {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #1E201E;
  font-size: 16px;
  transition: color 0.5s ease-in-out;
}

a {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  color: #5B3C36;
  text-decoration: none;
  font-size: 1.07em;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

a.noaccentcolor {
  color: #1E201E;
  font-style: normal;
}

a:not(.nohoveranim) {
  position: relative;
}

a:not(.nohoveranim)::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 0%;
  background: #5B3C36;
  transition: width 0.5s ease-in-out;
}

a:not(.nohoveranim).noaccentcolor::after {
  background: #1E201E;
}

a:not(.nohoveranim):hover::after {
  width: 100%;
}

strong {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
}

em {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
}

.title {
  font-family: "Lobster Two", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 10em;
  color: #5B3C36;
  transition: color 0.5s ease-in-out;
}

h1 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5em;
  color: #1E201E;
  transition: color 0.5s ease-in-out;
}

h2 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 2.25em;
  color: #1E201E;
  transition: color 0.5s ease-in-out;
}

h3 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  color: #1E201E;
  transition: color 0.5s ease-in-out;
}

h4 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1.75em;
  color: #1E201E;
  transition: color 0.5s ease-in-out;
}

h5 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.5em;
  color: #1E201E;
  transition: color 0.5s ease-in-out;
}

h6 {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 1.25em;
  color: #1E201E;
  transition: color 0.5s ease-in-out;
}

.fine-print {
  font-size: 0.75em;
}

button:not([class*=ql]) {
  border: 1px solid transparent;
  background: #5B3C36;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  color: #FEF6C9;
  font-family: "Aleo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.25em;
  transition: background 0.5s ease-in-out, color 0.5s ease-in-out, border 0.5s ease-in-out;
  cursor: pointer;
}

button:not([class*=ql]):hover, button:not([class*=ql]):focus, button:not([class*=ql]):active {
  background: #FEF6C9;
  color: #5B3C36;
  border: 1px solid #5B3C36;
}

li::marker {
  color: #5B3C36;
  transition: color 0.5s ease-in-out;
}

li {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #1E201E;
  font-size: 1.07em;
  transition: color 0.5s ease-in-out;
}

label {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #1E201E;
  font-size: 1.07em;
  transition: color 0.5s ease-in-out;
}

input {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #1E201E;
  background: transparent;
  border-bottom: 1px solid #1E201E;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 0.5em;
  font-size: 1.07em;
  transition: color 0.5s ease-in-out, border 0.5s ease-in-out;
  outline: none !important;
}

input:active, input:focus, input:focus-visible, input:focus-within {
  border-bottom: 1px solid #1E201E;
}

input::placeholder {
  color: #1E201E;
}

textarea {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #1E201E;
  background: transparent;
  border: 1px solid #1E201E;
  border-radius: 0.25em;
  padding: 0.5em;
  font-size: 1.07em;
  transition: color 0.5s ease-in-out, border 0.5s ease-in-out;
  outline: none !important;
}

textarea::placeholder {
  color: #1E201E;
}

i {
  color: #5B3C36;
  transition: color 0.5s ease-in-out;
}

body {
  background: #FEF6C9;
  transition: background 0.5s ease-in-out;
}

html.darkmode > body {
  background: #1E201E;
}
html.darkmode > body span:not(.ignoredarkmode), html.darkmode > body p:not(.ignoredarkmode), html.darkmode > body h1:not(.ignoredarkmode), html.darkmode > body h2:not(.ignoredarkmode), html.darkmode > body h3:not(.ignoredarkmode), html.darkmode > body h4:not(.ignoredarkmode), html.darkmode > body h5:not(.ignoredarkmode), html.darkmode > body h6:not(.ignoredarkmode), html.darkmode > body li:not(.ignoredarkmode), html.darkmode > body label:not(.ignoredarkmode) {
  color: #FEF6C9;
}
html.darkmode > body .title {
  color: #AC7469;
}
html.darkmode > body i:not(.ignoredarkmode) {
  color: #AC7469;
}
html.darkmode > body a:not(.ignoredarkmode) {
  color: #AC7469;
}
html.darkmode > body a.noaccentcolor:not(.ignoredarkmode) {
  color: #FEF6C9;
}
html.darkmode > body a:not(.ignoredarkmode):not(.nohoveranim)::after {
  background: #AC7469;
}
html.darkmode > body a:not(.ignoredarkmode):not(.nohoveranim).noaccentcolor::after {
  background: #FEF6C9;
}
html.darkmode > body button:not([class*=ql], .ignoredarkmode) {
  background: #AC7469;
  color: #1E201E;
}
html.darkmode > body button:not([class*=ql], .ignoredarkmode):hover, html.darkmode > body button:not([class*=ql], .ignoredarkmode):focus, html.darkmode > body button:not([class*=ql], .ignoredarkmode):active {
  color: #AC7469;
  background: transparent;
  border-color: #AC7469;
}
html.darkmode > body input:not(.ignoredarkmode) {
  color: #FEF6C9;
  border-bottom-color: #FEF6C9;
}
html.darkmode > body input:not(.ignoredarkmode)::placeholder {
  color: #FEF6C9;
}
html.darkmode > body textarea:not(.ignoredarkmode) {
  border-color: #FEF6C9;
  color: #FEF6C9;
}
html.darkmode > body textarea:not(.ignoredarkmode)::placeholder {
  color: #FEF6C9;
}
html.darkmode > body textarea:not(.ignoredarkmode):active, html.darkmode > body textarea:not(.ignoredarkmode):focus, html.darkmode > body textarea:not(.ignoredarkmode):focus-visible, html.darkmode > body textarea:not(.ignoredarkmode):focus-within {
  border: 1px solid #FEF6C9;
}
html.darkmode > body li::marker:not(.ignoredarkmode) {
  color: #AC7469;
}
html.darkmode > body header.editor {
  background: rgb(42.3387096774, 45.1612903226, 42.3387096774) !important;
  box-shadow: 1px 1px 1px 1px rgb(17.6612903226, 18.8387096774, 17.6612903226) !important;
}

html.darkmode ::-webkit-scrollbar-thumb {
  background: #AC7469;
}

main {
  min-height: 100vh;
}

header {
  transition: background 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

header.editor {
  background: rgb(253.5363636364, 241.8272727273, 175.9636363636);
  box-shadow: 1px 1px 1px 1px rgb(252.6090909091, 233.4818181818, 125.8909090909);
}

::-moz-selection {
  background: #FF0040;
}

::selection {
  background: #FF0040;
}

::-webkit-scrollbar {
  width: 0.3em;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #5B3C36;
  transition: background 0.5s ease-in-out;
  border-radius: 0.15em;
}

::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}

html.is-changing .transition-fade {
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

#site-content {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  gap: 5vh;
  min-height: 100vh;
  width: 100%;
}

/*# sourceMappingURL=pricing.css.map */
